<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<!-- based on right-side bar template -->
    <%- include('../partials/head'); %>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('../partials/header'); %>

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-narrower">
								<div id="content">

									<!-- Content -->

										<article>
											<header>
												<h2>Desktop version</h2>
												<p>Ready to work off-line or in environments with weak networks</p>
											</header>

											<span class="image featured"><img src="../images/desktop.jpg" alt="" /></span>
											<p>The desktop version is provided as a zip folder with all necessary documents.</p>
											<p>The internal behavior is identical to that of the Web version, focusing fundamentally on the registration and management of information in the areas of planning, findings and recommendations. Only analytical functionalities are not present. Therefore, it is a good practice to resort to the web AITAM even if most of the work is conducted via the offline version.</p>
											<p>The file to be executed is called “aitam-offline.exe”. From there, the user has access to AITAM functionalities and matrices. Once extracted, all files must be kept in the same folder and subfolders.</p>
											<p>We plan to develop the offline version for the most common platforms. We currently support:
												<ul>
													<li>MS Windows, 64-bit architecture</li>
													<li>MS Windows, 32-bit architecture</li>  
												</ul>
											</p>
											<p>In development:
												<ul>
													<li>macOS</li>
													<li>Debian-based Linux</li>
													<li>Red Hat-based Linux distributions such as Fedora and Red Hat Enterprise Linux</li>
												</ul>
											</p>				
										</article>

								</div>
							</div>
							<div class="col-4 col-12-narrower">
								<div id="sidebar">

									<!-- Sidebar -->
										<section>
											<h3>Important notices</h3>
											<p>Documents in XML format and containing information about the audit have identical information and meta-information structures when compared to the ones produced by Web version, which allows them to be processed with both: the Web and the offline versions, interchangeably.</p>
											<p>The offline version has been added to AITAM at the end of 2023. If you find any issues or difficulties in using it, please, let us know!</p>
										</section>

										<section>
											<!--acommodate till 6 links-->
											<h3>Download links</h3>
											<ul class="links">
												<li><a target="_blank" href="https://tcontaspt-my.sharepoint.com/:u:/g/personal/joaocardoso_tcontas_pt/EbF-BeWCYVFPsQB9qIJjcQQBnWgKKcGujF9apJHtk0cSrQ?e=dc5XmJ">MS Windows, 64-bit architecture</a></li>
												<li><a target="_blank" href="https://tcontaspt-my.sharepoint.com/:u:/g/personal/joaocardoso_tcontas_pt/Ef9jmmDahKxCs6hcypS_g3kB185XSbEiRG57LIX3GALjiw?e=FXAnPV">MS Windows, 32-bit architecture</a></li>
											</ul>
										</section>

								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
			<%- include('../partials/footer'); %>

		</div>

		<!-- Scripts -->
		<%- include('../partials/scripts'); -%>

	</body>
</html>