<section id="contact" class="col-6 col-12-narrower">
    <div class="row gtr-50">
        <div class="container">
            <h1><%=appAudit.timeline.pageTitle %></h1>
            <div class="timeline">
                <ul>
                    <li>
                        <div class="content">
                            <h3></h3>
                            <p><img src="../images/medium-24.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp;Audit reference information partially filled!</p>
                        </div>
                        <div class="point"></div>
                        <div class="date">
                            <h4>Reference</h4>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h3></h3>
                            <p><img src="../images/info-32a.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp;No plugins selected!</p>
                        </div>
                        <div class="point"></div>
                        <div class="date">
                            <h4>Plugins</h4>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h3></h3>
                            <p><img src="../images/high-24.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp;Pre-assessment information not filled!</p>
                        </div>
                        <div class="point"></div>
                        <div class="date">
                            <h4>Preassessment</h4>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h3></h3>
                            <p><img src="../images/include-24b.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp;Risk evaluation and information selected for audit!</p>
                        </div>
                        <div class="point"></div>
                        <div class="date">
                            <h4>Planning</h4>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h3></h3>
                            <p><img src="../images/include-24b.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp;10 Findings registered!</p>
                        </div>
                        <div class="point"></div>
                        <div class="date">
                            <h4>Findings</h4>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h3></h3>
                            <p><img src="../images/include-24b.png" alt="" style="vertical-align: text-bottom; display: inline-block;"/>&nbsp;10 recommendations registered!</p>
                        </div>
                        <div class="point"></div>
                        <div class="date">
                            <h4>Recommendations</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
</section>
